:root {
    --background-fundo: #E5E5E5;
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --coral-hover: #FF9D9E;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F6F6F6;
    --cinza-fundo-card: #e8e5e5;
    --cinza-claro-fundo-label: #F7F7F7;


    --fonte: 'Poppins', sans-serif;
    /* Regular 400 - Medium 500 - Bold 700*/
}


body {
    font-family: var(--fonte);
    background-color: var(--cinza-claro-fundos);
    background-image: url(../img/Forma-1.png);
    background-repeat: no-repeat;
    background-position: top left;

    color: var(--azul);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0;
    width: 80%;
    margin: 0 auto;

}

.formulario__textos {
    padding: 2em 0;
    width: 90%;

}

.formulario__dados {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 1em;
    width: 95%;

    border-radius: 10px;

    /* From https://css.glass */
    background: rgba(46, 42, 42, 0.098);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--cinza-claro);
}

.formulario__dados h1 {
    color: var(--cinza);
    font-size: 1.5em;
    font-weight: 600;
}

.formulario__dados h2 {
    text-align: left;
    font-weight: 600;
}

.formulario__perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.formulario__perfil a {
    padding-top: 0.3em;
    font-size: 1em;
    text-decoration: underline;
    color: var(--coral);
}

.formulario__dados label {
    text-align: left;
    font-weight: 600;

}

.formulario__dados input {
    font-family: var(--fonte);
    color: var(--cinza);
    text-align: left;
    font-size: 0.89em;
    padding: 0.8em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: 1px solid var(--cinza-claro);


}

.formulario__dados textarea {
    font-family: var(--fonte);
    padding: 0.5em;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    border: 1px solid var(--cinza-claro);
    resize: none;
}


@media screen and (min-width: 768px) {
    /*  Cabecalho */

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.2em 2em;
    }

    .cabecalho__logo {
        display: inline;
    }

    .cabecalho__icones {
        display: flex;
        gap: 3em;
    }


    /*  Cabecalho */

    body {
        background-image:
            url(../img/Forma-1.png),
            url(../img/Forma_2.svg);
        background-repeat: no-repeat;
        background-size: 70%, 15%;
        background-position:
            top left,
            center right;

        font-size: 1.1em;

    }

    .formulario__dados {
        width: 80%;
    }

    .formulario__textos p {
        font-size: 1.1em;
        padding-top: 2em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-image:
            url(../img/Forma-1.png),
            url(../img/Forma_2.svg);
        background-repeat: no-repeat;
        background-size: 55%, 8%;
        background-position:
            top left,
            center right;

        font-size: 1.1em;
    }

    .formulario__dados {
        width: 50%;
    }

    .formulario__dados img {
        width: 20%;
    }

    .cabecalho {
        padding: 4em 5em;
    }

}

@media screen and (min-width: 1080px) {
    body {
        background-image:
            url(../img/Forma-1.png),
            url(../img/Forma_2.svg);
        background-repeat: no-repeat;
        background-size: 35%, 8%;
        background-position:
            top left,
            center right;

        font-size: 1.1em;
    }
}